################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task1/SimpleNumbersIterator/bin/Debug
/Task1/SimpleNumbersIterator.Tests/bin/Debug
/Task1/SimpleNumbersIterator.Tests/obj/Debug
/Task1/SimpleNumbersIterator/obj/Debug
*.StyleCop
*.Cache
*.dll
*.pdb
*.txt
/Day1/UserStorage/obj/Debug
/Day1/UserStorage.Tests/obj/Debug
*.suo
/Day1/UserStorage.Factory/obj/Debug
/Day1/UserStorage.Factory.Tests/bin/Debug
/Day1/UserStorage.Factory.Tests/obj/Debug
/Day1/packages
/Day1/UserStorage.Factory/bin/Debug
/Day3.Attributes/Attributes/obj/Debug
/Day3.Attributes/Attributes.Tests/obj/Debug
/Day3.Domains/DoSomethingClient/obj/Debug
/Day3.Domains/MyInterfaces/obj/Debug
/Day3.Domains/MyLibrary/obj/Debug
/Day3.Domains/DoSomethingClient/bin/Debug
/Day4_Disposable/ConsoleApplication1/bin/Debug
/Day4_Disposable/ConsoleApplication1/obj/Debug
/Day4_Streams/CopyFiles/bin/Debug
/Day4_Streams/CopyFiles/obj/Debug
/Day5_Primitives/Monitor/bin/Debug
/Day5_Primitives/Monitor/obj/Debug
/Day5_Primitives/MutexClient/bin/Debug
/Day5_Primitives/MutexClient/obj/Debug
/Day5_Primitives/MutexMain/bin/Debug
/Day5_Primitives/MutexMain/obj/Debug
/Day5_Primitives/PingPong/obj/Debug
/Day5_Primitives/ReadWrite/bin/Debug
/Day5_Primitives/ReadWrite/obj/Debug
/Day5_Primitives/PingPong/bin/Debug
/Day6_LINQ/immutableValType/immutableValType/bin/Debug
/Day6_LINQ/UnitTestProject1/obj/Debug
/Day6_LINQ/immutableValType/immutableValType/obj/Debug
/Day7/ConstTask/TaskConsole/MyClassLibrary/obj/Debug
/Day7/ConstTask/TaskConsole/TaskConsole/bin/Debug
/Day7/ConstTask/TaskConsole/TaskConsole/obj/Debug
/Day7/ConstTask/test
/Day7/ConstTask/test2
/Day7/UnitTestProjectCollection/UnitTestProjectCollection/obj/Debug
