################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task1/SimpleNumbersIterator/bin/Debug
/Task1/SimpleNumbersIterator.Tests/bin/Debug
/Task1/SimpleNumbersIterator.Tests/obj/Debug
/Task1/SimpleNumbersIterator/obj/Debug
*.StyleCop
*.Cache
*.dll
*.pdb
*.txt
/Day1/UserStorage/obj/Debug
*.csproj
/Day1/UserStorage.Tests/obj/Debug
*.suo
/Day1/UserStorage.Factory/obj/Debug
/Day1/UserStorage.Factory.Tests/bin/Debug
/Day1/UserStorage.Factory.Tests/obj/Debug
/Day1/packages
/Day1/UserStorage.Factory/bin/Debug
/Day3.Attributes/Attributes/obj/Debug
/Day3.Attributes/Attributes.Tests/obj/Debug
/Day3.Domains/DoSomethingClient/obj/Debug
/Day3.Domains/MyInterfaces/obj/Debug
/Day3.Domains/MyLibrary/obj/Debug
/Day3.Domains/DoSomethingClient/bin/Debug
