<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathSection" type="UserStorage.Infrastructure.CustomConfigSections.PathSection, UserStorage" />
    <section name ="ReplicationSection" type="UserStorage.Factory.Infrastructure.CustomConfigSections.ReplicationSection, UserStorage.Factory"/>
  </configSections>
  <PathSection path="d:\Projects\EPAM.RD.2016S.Larkovich\Day1\UserStorage\bin\Debug\UserDataBase.xml"/>
  <ReplicationSection slavesNumber="1"/>
</configuration>