<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathSection" type="UserStorage.Infrastructure.CustomConfigSections.PathSection, UserStorage" />
    <section name ="Replication" type="UserStorage.Factory.Infrastructure.CustomConfigSections.ReplicationSection, UserStorage.Factory"/>
  </configSections>
  <PathSection path="d:\Projects\EPAM.RD.2016S.Larkovich\Day1\UserStorage\bin\Debug\UserDataBase.xml"/>
  <Replication>
    <Storages>
      <Storage name="Master" isMaster="true" domain="MasterDomain"/>
      <Storage name="1" domain="SlaveDomain1"/>
      <Storage name="2" domain="SlaveDomain2"/>
    </Storages>
  </Replication>
</configuration>