<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathSection" type="UserStorage.Infrastructure.CustomConfigSections.PathSection, UserStorage" />
    <section name ="Replication" type="UserStorage.Factory.Infrastructure.CustomConfigSections.ReplicationSection, UserStorage.Factory"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <Replication>
    <Storages>
      <Storage name="Master" isMaster="true" domainName="MasterDomain">
        <Repository type="XmlUserRepository" path="d:\Projects\EPAM.RD.2016S.Larkovich\Day1\UserStorage\bin\Debug\UserDataBase.xml"/>
        <Validator type="ValidatorUsers"/>
        <Generator type="GeneratorIds"/>
        <MessageSender type="MessageSenderTcp"/>
      </Storage>
      <Storage name="1" domainName="SlaveDomain1">
        <Repository type="MemoryUserRepository"/>
        <TcpInfo address="127.0.0.2" port="13001"/>
      </Storage>
      <Storage name="2" domainName="SlaveDomain2">
        <Repository type="MemoryUserRepository"/>
        <TcpInfo address="127.0.0.3" port="13002"/>
      </Storage>
    </Storages>
  </Replication>
    
</configuration>