<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PathSection" type="UserStorage.Infrastructure.CustomConfigSections.PathSection, UserStorage" />
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="switch" value="1"/>
    </switches>
  </system.diagnostics>
</configuration>